.userpage{
    width: 900px;
    margin: 0 auto;
    border-radius: 6px;
    padding-bottom: 30px;
}
.mainpage,.nowtopic,.havetopic{
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: #fff;
    padding-bottom: 20px;
}

.mainpage>img{
    width: 40px;
    height: 40px;
}
.nowlist,.havelist{
    margin-bottom: 10px;
}
.author-pic{
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.title{
    display: inline;
}
.usertime{
    float: right;
}