.list{
    padding: 20px;
    width: 1100px;
    margin: 0 auto;
    margin-bottom: 10px;
    
}
.list li{  
    float: left;
    margin-left: 30px;
    font-size: 14px;
    
    border-radius: 8px;
}
.list li a{
    display: block;
   padding: 2px 5px;
   border-radius: 3px;
    color: #369219;
}
.list li .active{
    background-color: #369219;
    color: #fff;
}
